@model ClimbingCragWebsite.Models.RouteImage;

@{
    List<string> Grades = new List<string> { "4a", "4b", "4c", "5a", "5b", "5c", "6a", "6b", "6c", "7a", "7b", "7c", "8a", "8b", "8c", "9a", "9b", "9c" };
}

<div class="Main-Content-Form">
    <h2>New Route</h2>
    <form method="post" asp-action="NewRoute" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label asp-for="Route.RouteName"></label></td>
                <td><input class="input-text" type="text" asp-for="Route.RouteName" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Route.CragId"></label><select asp-for="Route.CragId" asp-items="(SelectList)@ViewData["Crag"]"></select></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Image.ImageDescription"></label></td>
                <td><input class="input-text" type="text" asp-for="Image.ImageDescription" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label asp-for="Image.imageFile">UploadFile</label>
                    <input asp-for="Image.imageFile" id="ImageFile" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label asp-for="Route.RouteGrade"></label><select asp-for="Route.RouteGrade">
                        @foreach (var grade in Grades)
                        {
                            <option value="@grade">@grade</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Route.RouteHeight"></label></td>
                <td><input class="input-text" type="number" asp-for="Route.RouteHeight" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Route.RouteDescription"></label></td>
                <td><textarea maxlength="255" wrap="soft" style="resize: none;" rows="5" class="input-text" type="text" asp-for="Route.RouteDescription"></textarea></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Route.RoutePitches"></label></td>
                <td><input class="input-text" type="number" asp-for="Route.RoutePitches" /></td>
            </tr>
        </table>
        <div asp-validation-summary="All" class="warning"></div>
        <button class="button" type="submit">Create Route</button>
    </form>
</div>

