@model ClimbingCragWebsite.Models.Crag

@{
    ViewData["Title"] = "DeleteCrag";
}

<div class="Main-Content-Form">
    <form method="post" asp-action="ConfirmDeleteCrag" asp-route-id="@Model.CragId">
        <table>
            <tr>
                <td>
                    <h2>Crag ID: @Model.CragId</h2>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <h2>Confirm Deletion of @Model.CragName</h2>
                        <h3 class="warning">- this action is irreversible</h3>
                        <h3 class="warning">- linked routes will also be deleted</h3>
                </td>
            </tr>
        </table>
        <input type="submit" value="Delete" class="button" />
    </form>
        <a asp-controller="crags" asp-action="index">
            <button class="button">Go Back</button>
        </a>
</div>
