@model ClimbingCragWebsite.Models.CragImage
@{
    ViewData["Title"] = "NewCrag";
}

<div class="Main-Content-Form">
    <h2>New Crag</h2>
    <form method="post" asp-action="NewCrag" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label asp-for="Crag.CragName"></label></td>
                <td><input class="input-text" type="text" asp-for="Crag.CragName" /></td>
            </tr>
        </table>
        @* try and get this to work via map click *@
        <table>
            <tr>
                <td><label asp-for="Crag.Longitude"></label></td>
                <td><input class="input-text" type="text" asp-for="Crag.Longitude" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Crag.Latitude"></label></td>
                <td><input class="input-text" type="text" asp-for="Crag.Latitude" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Crag.CragDescription"></label></td>
                <td><textarea maxlength="255" wrap="soft" style="resize: none;" rows="5" class="input-text" type="text" asp-for="Crag.CragDescription"></textarea></td>
            </tr>
        </table>
        @* try and get image to be uploaded at some time*@
        <table>
            <tr>
                <td><label asp-for="Image.ImageDescription"></label></td>
                <td><input class="input-text" type="text" asp-for="Image.ImageDescription" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <label asp-for="Image.imageFile"></label>
                </td>
                <td>
                    <input asp-for="Image.imageFile" id="ImageFile" />
                    <label for="ImageFile">UploadFile</label>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Crag.Country"></label></td>
                <td><input class="input-text" type="text" asp-for="Crag.Country" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Crag.Region"></label></td>
                <td><input class="input-text" type="text" asp-for="Crag.Region" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><label asp-for="Crag.County"></label></td>
                <td><input class="input-text" type="text" asp-for="Crag.County" /></td>
            </tr>
        </table>
        <div asp-validation-summary="All" class="warning"></div>
        <button class="button" type="submit">Create Crag</button>
    </form>
</div>

